* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: center;
}


.hero-container {
    background-color: #1F2937;
}